body{
  text-align:center;
}
h1{
  font-family: cursive;
  font-size: 5.5rem;
}
.drum{
  font-size: 75px;
  height: 150px;
  width: 150px;
  margin: 15px;
  border-radius: 10%;
  border-style: solid;
  border-width: thick;
  background-color: white;
  color: black;
  display: inline-block;
  padding-top: 2rem;
}

.q{
  background-image: url("images/crash.png");
}
.w{
  background-image: url("images/kick.png");
}
.e{
  background-image: url("images/snare.png");
}
.r{
  background-image: url("images/tom1.png");
}
.t{
  background-image: url("images/tom2.png");
}
.y{
  background-image: url("images/tom3.png");
}
.u{
  background-image: url("images/tom4.png");
}

#footer{
  font-size: 1.4rem;
  font-style: italic;
  padding-top: 100px;
  font-family: fantasy;

}

.pressed{
  box-shadow: 5px 10px #888888;
  opacity: 0.5;
}
